$green : #018531;

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: NEXON Lv2 Gothic;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
}

.header {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.212);
    margin-bottom: 30px;
    .header-section {
        .header-logo {
            height: 70%;
        }
        display: flex;
        width: 120vh;
        height: 100%;
        align-items: center;
        margin: auto;
        .header-nav {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            a {
                text-decoration: none;
                color: rgb(102, 102, 102);
                margin-left: 20px;
                background-color: white;
                border-radius: 4px;
                padding: 4px;
                &:hover {
                    color: $green;
                }
            }
            .active {
                font-weight: bold;
                color: $green;
            }
        }
    }
}

main {
    border:0 1px solid black;
}

.card-box {
    width: 120vh;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    p {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }
    .scroll-horizontal {
        margin-top: 20px;
        padding: 20px;
        .card {
            height: 250px;
            border-radius: 7px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.285);
            padding: 10px;
            margin-right: 20px;
            width: 200px;
            span {
                display: block;
            }
            section {
                object-fit: fill;
                display: flex;
                align-items: center;
                .stars {
                    position: absolute;
                    background: url(../public/star-empty.png) no-repeat;  
                    width:100px;
                    height:16.67px;
                    .full-star {
                        background: url(../public/star-full.png) no-repeat;  
                        transform: scaleX(-1);
                        width:100px;
                        height:16.67px;
                    }
                }
                .star-point {
                    font-weight: bold;
                    margin-left: 105px;
                    margin-top: 6px;
                }
            }
            .place_name {
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 15px;
            }
            .place_desc {
                font-size: 12px;
                margin-left: 5px;
                margin-top: 6px;
            }
            .place_img {
                margin-bottom: 10px;
                display: block;
                width: 100%;
                height: 150px;
            }
        }
    }
}

.landmark {
    width: 120vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    .lm-btns {
        display: flex;
        width: 80%;
        justify-content: space-around;
        button {
            border: 1px solid rgb(18, 124, 18);
            background-color: white;
            border-radius: 5px;
            padding:4px;
        }
    }
    .landmark-info {
        
    }
}
